In [14]:
import pandas as pd

student_data = pd.read_csv("./data/students_performance.csv")
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Информация о столбцах таблицы:

- gender — пол;
- race/ethnicity — раса/этническая принадлежность;
- parental level of education — уровень образования родителей;
- lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
- test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
- math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [15]:
# Данные о скольких студентах содержатся в таблице?
student_data.shape[0]

1000

In [16]:
# Каков балл по письму у студента под индексом 155?
student_data.loc[155]["writing score"]

88

In [17]:
# Сколько суммарно пропущенных значений в таблице?
student_data.isnull().sum().sum()

0

In [18]:
# Сколько столбцов в таблице имеет тип данных object?

student_data.select_dtypes(include=["object"]).shape[1]

5

In [26]:
# Какой объём памяти (в килобайтах) занимает таблица?

student_data.memory_usage().sum() / 1024

62.62890625

In [27]:
# Каков у студентов средний балл по математике?

student_data["math score"].mean()

66.089

In [31]:
# Какая расовая группа является самой крупной в учебном заведении?

student_data['race/ethnicity'].value_counts().idxmax()

'group C'

In [34]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [35]:
# Сколько студентов получили 0 баллов по математике?

student_data[student_data["math score"] == 0].shape[0]

1

In [38]:
student_data[student_data["lunch"] == "free/reduced"][
    "math score"
].mean() < student_data[student_data["lunch"] == "standard"]["math score"].mean()

True

In [43]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

student_data["parental level of education"].value_counts(normalize=True)["bachelor's degree"] * 100

11.799999999999999

In [45]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

(
    student_data[student_data["race/ethnicity"] == "group A"]["writing score"].median()
    - student_data[student_data["race/ethnicity"] == "group C"]["writing score"].mean()
)

-5.827586206896555