In [311]:
import pandas as pd

bike_data = pd.read_csv("./data/citibike-tripdata.csv")
bike_df = bike_data.copy()

# Закрепление знаний

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

- starttime — время начала поездки (дата, время);
- stoptime — время окончания поездки (дата, время);
- start station id — идентификатор стартовой стоянки;
- start station name — название стартовой стоянки;
- start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
- end station id — идентификатор конечной стоянки;
- end station name — название конечной стоянки;
- end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
- bikeid — идентификатор велосипеда;
- usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
- birth year — год рождения клиента;
- gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [312]:
# Сколько пропусков в столбце start station id?
bike_df["start station id"].isnull().sum()

169

In [313]:
# Какой тип данных имеют столбцы starttime и stoptime?
bike_df.dtypes

starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [314]:
# Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.
bike_df["start station id"].mode()

0    281.0
Name: start station id, dtype: float64

In [315]:
# Велосипед с каким идентификатором является самым популярным?
bike_df["bikeid"].value_counts().idxmax()

33887

In [316]:
# Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.
bike_df["usertype"].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

In [317]:
# Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.
bike_df["gender"].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [318]:
# Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу ?
display(bike_df["start station id"].nunique() != bike_df["end station id"].nunique())
# В рассматриваемые дни минимальный возраст клиента составлял 10 лет?
display(2024 - bike_df["birth year"].max() == 10)
# Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"?
display(
    bike_df["start station name"].value_counts().idxmin()
    == "Eastern Pkwy & Washington Ave"
)
# Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"?
display(bike_df["end station name"].value_counts().idxmax() == "Liberty Light Rail")

True

False

True

False

In [319]:
# В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?
display(bike_df.head())
bike_df.drop(columns=["start station id", "end station id"], axis=1, inplace=True)
display(bike_df.head())
display(bike_df.shape)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

(300000, 12)

In [320]:
# Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

count_year = 2018

bike_df["age"] = count_year - bike_df["birth year"]
bike_df.drop("birth year", axis=1, inplace=True)
display(bike_df[bike_df["age"] > 60].shape[0])

11837

In [321]:
# Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?
bike_df["stoptime"] = pd.to_datetime(bike_df["stoptime"])
bike_df["starttime"] = pd.to_datetime(bike_df["starttime"])
trip_duration = bike_df["stoptime"] - bike_df["starttime"]
trip_duration[3].seconds // 60

7

In [322]:
# Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.
bike_df["weekend"] = bike_df["starttime"].dt.dayofweek.isin([5, 6]).astype(int)
bike_df["weekend"].value_counts()

weekend
0    184865
1    115135
Name: count, dtype: int64

In [323]:
# Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
# поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
# поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
# поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
# поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
# Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых

end_of_night = 6
end_of_morning = 12
end_of_day = 18
end_of_evening = 23
bike_df.head()

bike_df["time_of_day"] = bike_df["starttime"].dt.hour.apply(
    lambda x: (
        "night"
        if x <= end_of_night
        else (
            "morning"
            if x <= end_of_morning
            else "day" if x <= end_of_day else "evening"
        )
    )
)
(
    bike_df["time_of_day"].value_counts()["day"]
    / bike_df["time_of_day"].value_counts()["night"]
)

9.480411004308916